<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div>
    Form Successfully Submitted</div>
  <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
    <input matInput [(ngModel)]="page.claimResponse.claimId" placeholder="Claim ID" [required]="false" [disabled]="true">

  </mat-form-field>
  <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
    <input matInput [(ngModel)]=" page.claimResponse.status " placeholder="Status" [required]="false" [disabled]="true">

  </mat-form-field>
  <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
    <input matInput [(ngModel)]=" page.claimResponse.netPayable" placeholder="NetPayable" [required]="false" [disabled]="true">

  </mat-form-field><button mat-button (click)="sd_Xb3fiCdAILpqAZcz()">Close</button>
</div>